/* header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
} */
header {
  text-align: center;
}
body {
  background-color: whitesmoke;
}
h1 {
  color: #03045e;
  text-align: center;
}
h2 {
  text-align: center;
  color: orange;
}
p {
  text-align: center;
}
footer {
  background: blue;
  color: aliceblue;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
